/*Barra del menu*/
header li a:hover {
    background-color: #cf8120;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    color: #fff;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu ul li {
    margin-left: 20px;
}

.menu ul li a{
    font-size: 16px;
    padding: 15px;
    color: #fff;
    display: block;
    text-decoration: none;

}

#menu {
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

/*Estilo de la pagina*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
    color: #000;
}

/*contenedores*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/*Imagen en el encabezado Menu*/
.hero-image {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(../images/imagenfondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: #fff;
}

/*Imagen en el encabezado Contacto*/
.contacto-image {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(../images/imgcontacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
}

.contacto-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: #fff;
}

/*Imagen en el encabezado Horarios*/
.horarios-image {
    background: linear-gradient( rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(../images/imghorarios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
}

.horarios-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: #fff;
}

/*Imagen en el encabezado ubicacion*/
.ubicacion-image {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(../images/imgempleos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
}

.ubicacion-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: #fff;
}

/*Imagen en el encabezado ubicacion*/
.acerca-image {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(../images/imgacerca.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
}

.acerca-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: #fff;
}

/*Imagen en el encabezado MENU*/
.menu-image {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(../images/imgmenu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
}

.menu-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: #fff;
}

/*Sesion que esta despues del header y antes que el main*/
.coffe {
    padding: 50px;
    background-color: #e1e2e6;
    position: relative;
}

.coffe-content {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.coffe-content h2 {
    font-size: 35px;
    line-height: 40px;
    color: #323337;
    text-align: center;
    width: fit-content;
    margin: 0 auto 15px auto;
}

.txt-p {
    font-size: 16px;
    color: #414247;
    margin-bottom: 35px;
}

.coffe-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}

.coffe-1 {
    flex: 1 1 calc(33.333% - 40px);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.coffe-1 img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto 15px;
    border-radius: 8px;
}

.coffe-1 h3{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

/*Servicios*/
.services {
    background-image: linear-gradient( 
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(../images/fondobg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    padding: 50px 0;
}

.services-content {
    text-align: center
}

.services-content h2{
    font-size: 35px;
    line-height: 70px;
    color: #f9fafc;
    text-align: center;
    width: fit-content;
    margin: 0 auto 35px auto;
}

.services-content p{
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.services-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-1 {
    padding: 0 100px;
}

.services-1 img{
    width: 30px;
    margin-bottom: 15px;
}

.services-1 h3{
    color: #eaccb3;
    font-size: 18px;
}

/*Footer*/
.footer{
    padding: 100px 0;
    background-color: #000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer li {
    font-size: 18px;
    color: #c5c5c5;
    margin-bottom: 15px;
}

.link a {
    font-size: 18px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
}

.link a:hover {
    color: #fff;
}

.footer-logo img {
    max-width: 250px;
    height: auto;
}

/*Boton del inicio*/
.btn-info {
    background-color: #ae6618;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 50px;
}

.btn-info2 {
    background-color: #ae6618;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: fit-content; /* Ajusta el ancho del botón al contenido */
    margin: 0 auto;
}

/*Para centrar los textos (solo si es necesario)*/
.center {
    padding: 20px;
    text-align: center;
}

/*Para los parrafos el texto*/
.parrafo{
    font-size: 18px;
}

/*Diseño de la pagina de los horarios*/
table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    margin-bottom: 50px;
}

th, td {
    padding: 12px; /* Aumenta el relleno para hacer más grandes las celdas */
    text-align: left;
    border-bottom: 1px solid #DDD;
}

tr:hover {
    background-color: #D6EEEE;
}

/*Diseño pagina de contacto*/
.container-form {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
}

.container-form h2 {
    margin-bottom: 25px;
    font-size: 25px;
    text-align: center;
}

input[type=text], input[type=email], input[type=tel], select {
    font-size: 16px;
    width: 100%;
    padding: 14px 18px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.btn-enviar {
    background-color: #4cb738;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 15px
}

.btn-enviar:hover {
    background-color: #6de251;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.contact-container h2 {
    margin-bottom: 20px;
}

.contact-container a {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
    text-decoration: none;
    margin-bottom: 20px;
    cursor: default;
}

.contact-container a i {
    margin-right: 20px;
}

/*Diseño en pagina Acerca de nosotros*/
.center-text {
    text-align: justify;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
}

/*Diseño del menu de platillos*/
.gallery-container {
    width: 100%;
    display: flex;
    max-width: 1100px;
    flex-wrap: wrap; /* Permite que las galerías se ajusten en varias filas */
    justify-content: space-between; /* Centra las galerías */
    margin: 0 auto;
}
.gallery {
    width: calc(33.33% - 40px);
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    box-shadow: #aaa 5px 3px 2px;
    cursor: default;
    transition: all 400ms ease;
}

.gallery:hover{
    box-shadow: #ccc 5px 5px 20px;
    transform: translateY(-3%);
}

.gallery img {
    width: 100%;
    height: 210px;
}

.gallery .gallery-desc {
    padding: 15px;
    text-align: center;
}

.gallery .gallery-desc p {
    color: #6a6a6a;
    text-align: justify;
}

.gallery .gallery-desc h3 {
    margin-bottom: 10px;
}

.section-container {
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 900px;
}

.section-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.responsive-video {
    width: 300px; /* Ajusta este valor según tus necesidades */
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
}


/*Diseño de la ubicacion*/
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    padding: 20px;
    gap: 20px
}

hr {
    border: 1px solid #e1d6d6;
    width: 75%;
}

.map-container {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    box-sizing: border-box;
}

.map-container iframe {
    width: 100%;
    height: 100%; /* Cambiado a 100% para llenar el contenedor */
    border: 0;
    min-height: 400px; /* Asegura una altura mínima */
    box-sizing: border-box;
}


/* Media query para pantallas pequeñas */
@media (max-width: 991px) {
    .menu {
        padding: 30px;
    }
    
    .menu label {
        display: initial;
    }

    .menu nav {
        position: absolute;
        top: 100%;
        background-color: #343337;
        left: 0;
        right: 0;
        display: none;
    }

    .menu nav ul li {
        width: 100%;
    }

    #menu:checked ~ nav { /* Ajuste del selector para que funcione con la estructura HTML */
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

    .coffe {
        padding: 30px;
    }

    .coffe-content h2 {
        padding: 0;
    }

    .txt-p {
        padding: 0;
    }

    .coffe-group {
        flex-direction: column;
    }

    .coffe-1 {
        flex: 1 1 100%;
    }

    .services {
        padding: 15px;
    }

    .services-content p {
        padding: 0;
    }

    .services-group {
        flex-direction: row;
        margin-bottom: 15px;
        align-items: center;
        justify-content: space-between;
    }

    .services-1 {
        margin: 0 auto;
        padding: 10px 0;
        text-align: center;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
        text-align: center;
    }

    .link {
        margin-bottom: 20px;
        text-align: center;
    }

    .footer-logo img {
        max-width: 100px;
    }

    /*Media para el form de contacto*/
    .container-form {
        max-width: 100%;
        padding: 15px;
    }

    input[type=text], input[type=email], input[type=tel], select, textarea {
        font-size: 16px;
        padding: 12px 15px;
    }

    /*media de la galeria de imagenes*/

    @media only screen and (max-width: 700px) {
        .responsive {
            width: 49.99999%;
            margin: 6px 0;
        }
    }

    @media only screen and (max-width: 500px) {
        .responsive {
            width: 100%;
        }
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

    /*media query para pantallas pequeñas en el menu*/
    .gallery {
        width: calc(100% - 20px); /* Un elemento por fila en pantallas muy pequeñas */
    }
}