<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Horarios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css" />
    <script src="https://kit.fontawesome.com/48da59fe5b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="menu container">
            <a href="../index.html" class="logo">Aroma Cafe</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../images/menu.png" class="menu-icono" alt="logo" />
            </label>
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    <li><a href="horarios.html">Horarios</a></li>
                    <li><a href="ubicacion.html">Ubicación</a></li>
                </ul>
            </nav>
        </div>
        <div class="horarios-image">
            <div class="horarios-text">
                <h1 style="font-size:50px">Horarios</h1>
            </div>
        </div>
    </header>
    <main>
        <h1 class="center">Nuestros Horarios</h1>
        <p class="center parrafo"> Visitanos cuando quieras nuestras puestas estan abiertas y esperando por ti</p>
        <table>
            <tr>
                <th>Días</th>
                <th>Abrimos</th>
                <th>Cerramos</th>
            </tr>
            <tr>
                <td>Lunes</td>
                <td>8:30  a. m.</td>
                <td>8:00  p. m.</td>
            </tr>
            <tr>
                <td>Martes</td>
                <td>8:30  a. m.</td>
                <td>8:00  p. m.</td>
            </tr>
            <tr>
                <td>Miércoles</td>
                <td>8:30  a. m.</td>
                <td>8:00  p. m.</td>
            </tr>
            <tr>
                <td>Jueves</td>
                <td>8:30  a. m.</td>
                <td>8:00  p. m.</td>
            </tr>
            <tr>
                <td>Viernes</td>
                <td>8:30  a. m.</td>
                <td>8:00  p. m.</td>
            </tr>
            <tr>
                <td>Sábado</td>
                <td>8:30  a. m.</td>
                <td>8:00  p. m.</td>
            </tr>
            <tr>
                <td>Domingo</td>
                <td>Cerrado</td>
            </tr>
        </table>
    </main>
    <footer class="footer">
        <div class="footer-content container">
            <div class="link">
                <ul>
                    <li>&copy; Aroma Cafe 2024</li>
                    <li><a href="acercade.html">Acerca de Nosotros</a></li>
                    <li><a href="contacto.html">Contactenos </a></li>
                    <li><a href="ubicacion.html">Ubicación</a></li>
                    <li><a href="horarios.html">Horarios</a></li>
                </ul>
                <a href="https://www.facebook.com/aromacafesv/?locale=es_LA"><i class="fa-brands fa-facebook "></i> Facebook</a>
            </div>
            <div class="link">
                <ul>
                    <li>Servicios</li>
                    <li><a href="#">Terminos y condiciones</a></li>
                    <li><a href="#">Preguntas frecuentes </a></li>
                    <li><a href="#">Novedades</a></li>
                </ul>
            </div>
            <div class="footer-logo">
                <img src="../images/logo.jpg" alt="Logo Aroma cafe" />
            </div>
        </div>
    </footer>
</body>
</html>