<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css" />
    <script src="https://kit.fontawesome.com/48da59fe5b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="menu container">
            <a href="../index.html" class="logo">Aroma Cafe</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../images/menu.png" class="menu-icono" alt="logo" />
            </label>
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    <li><a href="horarios.html">Horarios</a></li>
                    <li><a href="ubicacion.html">Ubicación</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu-image">
            <div class="menu-text">
                <h1 style="font-size:50px">Menu</h1>
                <p>
                    Se te antoja algo diferente que comer?
                    Veni y proba nuestro menú con una amplia
                    variedad de snacks, smoothies, frappes, crepas y postres
                </p>
            </div>
        </div>
    </header>
    <main>
        <h2 class="center">Platillos</h2>
        <hr />
        <div class="gallery-container">
            <div class="gallery">
                <figure>
                    <img src="../images/platosfuerte.jpg" alt="Hamburguesa" width="600" height="400" />
                </figure>
                <div class="gallery-desc">
                    <h3>Hamburguesa</h3>
                    <p><b>Descripción:</b> Deliciosa hamburguesas 100% artesanales, contiene queso fundio, frescos alimentos y una jugosa y deliciosa carne.</p>
                    <p><b>Precio: </b>$3.99</p>
                </div>
            </div>
            <div class="gallery">
                <figure>
                    <img src="../images/sandwich.jpg" alt="Croissant" width="600" height="400" />
                </figure>
                <div class="gallery-desc">
                    <h3>Croissant</h3>
                    <p><b>Descripción: </b>Croissant de jamón, otra opción diferente para probar en Aroma café</p>
                    <p><b>Precio: </b>$3.50</p>
                </div>
            </div>
            <div class="gallery">
                <figure>
                    <img src="../images/wrap.jpg" alt="Wrap" width="600" height="400" />
                </figure>
                <div class="gallery-desc">
                    <h3>Wrap</h3>
                    <p><b>Descripción:</b> Una deliciosa ensalada fresca con queso fundido y la proteína de tu elección carne de res o pollo enrollado en una tortilla de trigo.</p>
                    <p><b>Precio: </b>$2.50</p>
                </div>
            </div>
            <div class="gallery">
                <figure>
                    <img src="../images/hotdogs.jpg" alt="Hot Dogs" width="600" height="400" />
                </figure>
                <div class="gallery-desc">
                    <h3>Hot Dogs</h3>
                    <p><b>Descripción:</b> Haz que tu día sea más sabroso con nuestros deliciosos hot dogs.</p>
                    <p><b>Precio: </b>$2.50</p>
                </div>
            </div>
            <div class="gallery">
                <figure>
                    <img src="../images/camarones.jpg" alt="Deditos de pescado empanizados" width="600" height="400" />
                </figure>
                <div class="gallery-desc">
                    <h3>Deditos de pescado empanizados</h3>
                    <p><b>Descripción:</b> Disfruta el sabor del mar, tenemos disponibles camarones empanizados o al ajillo, deditos de pescado empanizados.</p>
                    <p><b>Precio: </b>$4.50</p>
                </div>
            </div>
            <div class="gallery">
                <figure>
                    <img src="../images/clubsandwich.jpg" alt="Club Sandwich" width="600" height="400" />
                </figure>
                <div class="gallery-desc">
                    <h3>Club Sandwich</h3>
                    <p><b>Descripción:</b> Prueba nuestro Club Sandwich acompañado con papas francesas o papas gajo con paprika!.</p>
                    <p><b>Precio: </b>$3.50</p>
                </div>
            </div>
        </div>
        <h2 class="center">Desayunos</h2>
        <hr />
        <div class="gallery-container">
            <div class="gallery">
                <figure>
                    <img src="../images/waffles.jpg" alt="Waffles" width="600" height="400" />
                </figure>
                <div class="gallery-desc">
                    <h3>Waffles</h3>
                    <p><b>Descripción:</b> Perfectos para un desayuno relajado en casa o complacer un gustito de media tarde! .</p>
                    <p><b>Precio: </b>$3.50</p>
                </div>
            </div>
            <div class="gallery">
                <figure>
                    <img src="../images/croissantsimple.jpg" alt="Croissants Simple" width="600" height="400" />
                </figure>
                <div class="gallery-desc">
                    <h3>Croissants</h3>
                    <p><b>Descripción:</b> Ya puedes degustar de un delicioso croissant! Acompañalo con tu bebida favorita!.</p>
                    <p><b>Precio: </b>$1.50</p>
                </div>
            </div>
            <div class="gallery">
                <figure>
                    <img src="../images/wafle.jpg" alt="Waffles con topin" width="600" height="400" />
                </figure>
                <div class="gallery-desc">
                    <h3>Waffles con topin</h3>
                    <p><b>Descripción:</b> Puedes pedir tus waffles con el toppin favorito, chocolate, caramelo, nutella!.</p>
                    <p><b>Precio: </b>$4.50</p>
                </div>
            </div>
        </div>
        <h2 class="center">Postres</h2>
        <hr />
        <div class="gallery-container">
            <div class="gallery">
                <figure>
                    <img src="../images/cheesecake.jpg" alt="Cheesecake" width="600" height="400" />
                </figure>
                <div class="gallery-desc">
                    <h3>Cheesecake</h3>
                    <p><b>Descripción:</b> Cheesecake de fresa acompañado de café recién preparado.</p>
                    <p><b>Precio: </b>$1.75</p>
                </div>
            </div>
            <div class="gallery">
                <figure>
                    <img src="../images/yogurtfruit.jpg" alt="Yogurt Fruit" width="600" height="400" />
                </figure>
                <div class="gallery-desc">
                    <h3>Yogurt Fruit</h3>
                    <p><b>Descripción: </b>Este alimento es una opción saludable y nutritiva.</p>
                    <p><b>Precio: </b>$1.75</p>
                </div>
            </div>
            <div class="gallery">
                <figure>
                    <img src="../images/crepas.jpg" alt="Crepas" width="600" height="400" />
                </figure>
                <div class="gallery-desc">
                    <h3>Crepas</h3>
                    <p><b>Descripción:</b> Podes endulzarte con unas crepas rellenas de fruta! Chocolate, caramelo y nutella.</p>
                    <p><b>Precio: </b>$2.50</p>
                </div>
            </div>
            <div class="gallery">
                <figure>
                    <img src="../images/tartafresa.jpg" alt="Tarta de fresa" width="600" height="400" />
                </figure>
                <div class="gallery-desc">
                    <h3>Tarta de fresa</h3>
                    <p><b>Descripción:</b> Prueba nuestra deliciosa tarta de fresa, te alegraran el dia y el corazón.</p>
                    <p><b>Precio: </b>$5.50</p>
                </div>
            </div>
            <div class="gallery">
                <figure>
                    <img src="../images/tartaletas.jpg" alt="Deditos de pescado empanizados" width="600" height="400" />
                </figure>
                <div class="gallery-desc">
                    <h3>Tartaleta</h3>
                    <p><b>Descripción:</b> Proba nuestras tartaletas! Podes acompañarla con cualquiera de nuestras bebidas frias o calientes que tenemos preparadas para tí.</p>
                    <p><b>Precio: </b>$2.50</p>
                </div>
            </div>
            <div class="gallery">
                <figure>
                    <img src="../images/mousse.jpg" alt="Club Sandwich" width="600" height="400" />
                </figure>
                <div class="gallery-desc">
                    <h3>Mousse Choco-Oreo</h3>
                    <p><b>Descripción:</b> Mousse de chocolate con galleta oreo.</p>
                    <p><b>Precio: </b>$1.50</p>
                </div>
            </div>
        </div>
        <h2 class="center">Bebidas frias y calientes</h2>
        <hr />
        <div class="gallery-container">
            <div class="gallery">
                <figure>
                    <img src="../images/smoothie.jpg" alt="Smoothie de Fresas y Crema" width="600" height="400" />
                </figure>
                <div class="gallery-desc">
                    <h3>Smoothie de Fresas y Crema</h3>
                    <p><b>Descripción:</b> Es una bebida refrescante y cremosa que combina fresas frescas o congeladas con productos lácteos como crema, yogurt, o leche, para crear una textura suave y rica.</p>
                    <p><b>Precio: </b>$2.00</p>
                </div>
            </div>
            <div class="gallery">
                <figure>
                    <img src="../images/limonadaazul.jpg" alt="Limonada Azul" width="600" height="400" />
                </figure>
                <div class="gallery-desc">
                    <h3>Limonada Azul</h3>
                    <p><b>Descripción: </b>Una limonada azul y mandamos a volar tu calor!.</p>
                    <p><b>Precio: </b>$0.75</p>
                </div>
            </div>
            <div class="gallery">
                <figure>
                    <img src="../images/blueberry.jpg" alt="Blueberry" width="600" height="400" />
                </figure>
                <div class="gallery-desc">
                    <h3>Blueberry</h3>
                    <p><b>Descripción:</b> Quitate este calor con un smoothie blueberry, super refrescante.</p>
                    <p><b>Precio: </b>$1.25</p>
                </div>
            </div>
            <div class="gallery">
                <figure>
                    <img src="../images/capuchino.jpg" alt="Capuchino" width="600" height="400" />
                </figure>
                <div class="gallery-desc">
                    <h3>Capuchino</h3>
                    <p><b>Descripción:</b> Prueba nuestro delicioso capuchino.</p>
                    <p><b>Precio: </b>$1.50</p>
                </div>
            </div>
            <div class="gallery">
                <figure>
                    <img src="../images/cafe.jpg" alt="Café" width="600" height="400" />
                </figure>
                <div class="gallery-desc">
                    <h3>Café</h3>
                    <p><b>Descripción:</b> Disfruta de ese momento de tranquilidad mientras saboreas el aroma y el sabor del café.</p>
                    <p><b>Precio: </b>$1.00</p>
                </div>
            </div>
            <div class="gallery">
                <figure>
                    <img src="../images/cafeexpreso.jpg" alt="Café Expreso" width="600" height="400" />
                </figure>
                <div class="gallery-desc">
                    <h3>Café Expreso</h3>
                    <p><b>Descripción:</b> Este café que se caracteriza por su intensidad y sabor robusto..</p>
                    <p><b>Precio: </b>$1.25</p>
                </div>
            </div>
        </div>
        <h2 class="center">¡Haciendo Latte Art!</h2>
        <hr />

        <video class="responsive-video" controls>
            <source src="../assets/prcafe.mp4" type="video/mp4">
        </video>
    </main>
    <footer class="footer">
        <div class="footer-content container">
            <div class="link">
                <ul>
                    <li>&copy; Aroma Cafe 2024</li>
                    <li><a href="acercade.html">Acerca de Nosotros</a></li>
                    <li><a href="contacto.html">Contactenos </a></li>
                    <li><a href="ubicacion.html">Ubicación</a></li>
                    <li><a href="horarios.html">Horarios</a></li>
                </ul>
                <a href="https://www.facebook.com/aromacafesv/?locale=es_LA"><i class="fa-brands fa-facebook "></i> Facebook</a>
            </div>
            <div class="footer-logo">
                <img src="../images/logo.jpg" alt="Logo Aroma cafe" />
            </div>
        </div>
    </footer>
</body>
</html>