<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css" />
    <script src="https://kit.fontawesome.com/48da59fe5b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="menu container">
            <a href="../index.html" class="logo">Aroma Cafe</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../images/menu.png" class="menu-icono" alt="logo" />
            </label>
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    <li><a href="horarios.html">Horarios</a></li>
                    <li><a href="ubicacion.html">Ubicación</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu-image">
            <div class="menu-text">
                <h1 style="font-size:50px">Menu</h1>
                <p>
                    Se te antoja algo diferente que comer?
                    Veni y proba nuestro menú con una amplia
                    variedad de snacks, smoothies, frappes, crepas y postres
                </p>
            </div>
        </div>
    </header>
    <main>
        <div class="section-container">
            <h2>Postres</h2>
            <div class="responsive">
                <div class="gallery">
                    <img src="../images/platosfuerte.jpg" alt="Plato fuerte" width="600" height="400">
                    <div class="desc">Descripcion del plato</div>
                </div>
            </div>
        </div>
    </main>
    <!--<footer class="footer">
        <div class="footer-content container">
            <div class="link">
                <ul>
                    <li>&copy; Aroma Cafe 2024</li>
                    <li><a href="acercade.html">Acerca de Nosotros</a></li>
                    <li><a href="contacto.html">Contactenos</a></li>
                    <li><a href="ubicacion.html">Ubicación</a></li>
                    <li><a href="horarios.html">Horarios</a></li>
                </ul>
                <a href="https://www.facebook.com/aromacafesv/?locale=es_LA"><i class="fa-brands fa-facebook "></i> Facebook</a>
            </div>
            <div class="footer-logo">
                <img src="../images/logo.jpg" alt="Logo Aroma cafe" />
            </div>
        </div>
    </footer>-->
</body>
</html>