<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Ubicación</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css" />
    <script src="https://kit.fontawesome.com/48da59fe5b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="menu container">
            <a href="../index.html" class="logo">Aroma Cafe</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../images/menu.png" class="menu-icono" alt="logo" />
            </label>
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    <li><a href="horarios.html">Horarios</a></li>
                    <li><a href="ubicacion.html">Ubicación</a></li>
                </ul>
            </nav>
        </div>
        <div class="ubicacion-image">
            <div class="ubicacion-text">
                <h1 style="font-size:50px">Ubicación</h1>
            </div>
        </div>
    </header>
    <main>
        <h1 class="center">Visitanos pronto</h1>
        <hr />
        <div class="container">
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d242.24701931098045!2d-89.72292961779802!3d13.721337204546554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f62b78c3f857fa7%3A0x55771add63387053!2sAroma%20Caf%C3%A9!5e0!3m2!1ses-419!2ssv!4v1725242690372!5m2!1ses-419!2ssv" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-content container">
            <div class="link">
                <ul>
                    <li>&copy; Aroma Cafe 2024</li>
                    <li><a href="acercade.html">Acerca de Nosotros</a></li>
                    <li><a href="contacto.html">Contactenos</a></li>
                    <li><a href="ubicacion.html">Ubicación</a></li>
                    <li><a href="horarios.html">Horarios</a></li>
                </ul>
                <a href="https://www.facebook.com/aromacafesv/?locale=es_LA"><i class="fa-brands fa-facebook "></i> Facebook</a>
            </div>
            <div class="link">
                <ul>
                    <li>Servicios</li>
                    <li><a href="#">Terminos y condiciones</a></li>
                    <li><a href="#">Preguntas frecuentes </a></li>
                    <li><a href="#">Novedades</a></li>
                </ul>
            </div>
            <div class="footer-logo">
                <img src="../images/logo.jpg" alt="Logo Aroma cafe" />
            </div>
        </div>
    </footer>

</body>
</html>